body {
  height: 100vh;
  margin: 0;
  background-color: black;
  position: relative;
  overflow: hidden;
}

@keyframes brilho {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.brilho {
  position: absolute;
  top: -50%;
  left: -100%;
  width: 50%;
  height: 200%;
  background: linear-gradient(45deg, transparent 30%, rgba(255, 255, 255, 0.5) 50%, transparent 70%);
  transform: rotate(45deg);
  animation: brilho 3s infinite;
  pointer-events: none;
}

.conteiner {
  width: 35%;
  height: 15%;
  background-color: #0d0d3b;
  border-radius: 50px;
  position: absolute;
  left: 10px;
}

.conteiner:nth-of-type(1) {
  top: 35px;
}

.conteiner:nth-of-type(2) {
  top: calc(35px + 15vh + 20px);
}

.conteiner:nth-of-type(3) {
  top: calc(35px + 30vh + 40px);
}

.conteiner:nth-of-type(4) {
  top: calc(35px + 45vh + 60px);
}

.conteiner h2 {
  position: absolute;
  top: 10px;
  left: 130px;
  color: white;
  font-size: 24px;
  margin: 0;
}

h1 {
  margin: 0;
  color: white;
  position: absolute;
  font-size: 16px;
  border-bottom: 1px solid white;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: color 0.3s;
}

h1:hover {
  color: yellow;
}

h1:nth-of-type(1) {
  transform: translateX(calc(-50% - 100px));
}

h1:nth-of-type(2) {
  transform: translateX(-50%);
}

h1:nth-of-type(3) {
  transform: translateX(calc(-50% + 100px));
}